#user-email,
#user-username,
#user-newpassword,
#user-newpasswordconfirm,
#loginform-username,
#loginform-password{	
	text-align: left !important;
}
.hint-block{
	color: #CCC;
}
.register-page 
.radio label, .checkbox label{
	padding-left: 0 !important;
	padding-right: 10px !important;
	
}
.register-page 
.help-block {
	margin-right: 10px;
	
}